1. 데이터셋 영화 타이틀 데이터 셋
- movies_title.csv
2. titles의 Data Frame 을 만든다.

3. df 필수 명령 8가지 실행

4. 전체 영화는 몇개인가?

5. 가장 빠른 시기에 제작된 영화 2개를 찾아라.

6. 제목이 "Hamlet"인 영화는 몇개인가?

7. 제목이 "Treasure Island"는 몇개인가? 제작년도 오름차순으로 나열

8. 1950년에서 1959냔 사이에 만들어진 영화는 몇개인가?

In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as mpl

1. movies_title.csv를 읽어온다

In [7]:
movies_title = pd.read_csv("c:/hrim/movies_title.csv")
movies_title

                          title  year
0                The Rising Son  1990
1             Ashes of Kukulcan  2016
2       The Thousand Plane Raid  1969
3              Crucea de piatra  1993
4                        The 86  2015
...                         ...   ...
215976           Le mouton noir  1922
215977      Edge of the Unknown  2015
215978                    E yue  2005
215979             Lakota Girls  2015
215980             The Sting II  1983

[215981 rows x 2 columns]

2. 데이터 프레임을 만든다.

In [8]:
movies_title=pd.DataFrame(movies_title)
movies_title

                          title  year
0                The Rising Son  1990
1             Ashes of Kukulcan  2016
2       The Thousand Plane Raid  1969
3              Crucea de piatra  1993
4                        The 86  2015
...                         ...   ...
215976           Le mouton noir  1922
215977      Edge of the Unknown  2015
215978                    E yue  2005
215979             Lakota Girls  2015
215980             The Sting II  1983

[215981 rows x 2 columns]

3. df 필수 명령 8가지 실행

In [6]:
movies_title.head()

                     title  year
0           The Rising Son  1990
1        Ashes of Kukulcan  2016
2  The Thousand Plane Raid  1969
3         Crucea de piatra  1993
4                   The 86  2015

In [7]:
movies_title.shape

(215981, 2)

In [8]:
movies_title.columns

Index(['title', 'year'], dtype='object')

In [9]:
movies_title.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215981 entries, 0 to 215980
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   title   215981 non-null  object
 1   year    215981 non-null  int64
dtypes: int64(1), object(1)
memory usage: 3.3+ MB

In [10]:
movies_title.tail()

                      title  year
215976       Le mouton noir  1922
215977  Edge of the Unknown  2015
215978                E yue  2005
215979         Lakota Girls  2015
215980         The Sting II  1983

In [11]:
movies_title.isnull()

        title   year
0       False  False
1       False  False
2       False  False
3       False  False
4       False  False
...       ...    ...
215976  False  False
215977  False  False
215978  False  False
215979  False  False
215980  False  False

[215981 rows x 2 columns]

In [14]:
movies_title["title"].value_counts()

Hamlet                  19
Macbeth                 14
Carmen                  14
The Three Musketeers    12
Blood Money             11
                        ..
Destino das Rosas        1
Zhivoy bog               1
Sunday Kinda Love        1
Vivir para amar          1
A Boy Called Dad         1
Name: title, Length: 197575, dtype: int64

In [13]:
movies_title.describe()

                year
count  215981.000000
mean     1984.553822
std        29.343957
min      1894.000000
25%      1965.000000
50%      1994.000000
75%      2010.000000
max      2024.000000

4. 전체 영화 개수

In [14]:
#중복을 포함한 전체영화 개수
len(movies_title)
# = movies_title.shape[0] #튜플형태라서 인덱스로 접근가능
# = movies_title.count() #전체 행의 개수 (각 열마다)
# = movies_title["title"].count()
# = movies_title.title.count()

215981

5. 가장 빠른 시기에 제작된 영화 2개를 찾아라.

In [51]:
movies_title["year"].sort_values(ascending=True).head(2)
# = movies_title.sort_values("year").head(2)

165182    1894
85708     1897
Name: year, dtype: int64

In [15]:
res=movies_title.sort_values("year").head(2)
res #데이터 프레임임

                                                    title  year
165182                                         Miss Jerry  1894
85708   Reproduction of the Corbett and Fitzsimmons Fight  1897

In [16]:
res["title"] #series

165182                                           Miss Jerry
85708     Reproduction of the Corbett and Fitzsimmons Fight
Name: title, dtype: object

In [17]:
res["title"].values

array(['Miss Jerry', 'Reproduction of the Corbett and Fitzsimmons Fight'],
      dtype=object)

In [18]:
res["title"].values[0]

'Miss Jerry'

In [19]:
res["title"].values[1]

'Reproduction of the Corbett and Fitzsimmons Fight'

In [21]:
print("가장빠른시기 영화: {}".format(res["title"].values))

가장빠른시기 영화: ['Miss Jerry' 'Reproduction of the Corbett and Fitzsimmons Fight']

6. 제목이 "Hamlet"인 영화는 몇개인가?

In [78]:
count = 0 
for i in movies_title["title"]:
    if i == "Hamlet":
        count += 1
        
print("제목이 Hamlet인 영화는 ",count,"개입니다.")

제목이 Hamlet인 영화는  19 개입니다.

In [23]:
movies_title[movies_title["title"]=="Hamlet"]

         title  year
5562    Hamlet  1948
26160   Hamlet  2016
37373   Hamlet  2015
42224   Hamlet  1990
43511   Hamlet  1910
68239   Hamlet  1954
85741   Hamlet  1976
87781   Hamlet  1987
87971   Hamlet  2000
91710   Hamlet  1921
114224  Hamlet  1969
154627  Hamlet  1913
163645  Hamlet  2009
169996  Hamlet  1964
186988  Hamlet  1996
192815  Hamlet  2011
195015  Hamlet  1911
205821  Hamlet  1973
207793  Hamlet  2014

In [24]:
movies_title[movies_title["title"]=="Hamlet"].shape[0]

19

7. 제목이 "Treasure Island"는 몇개인가? 제작년도 오름차순으로 나열

In [10]:
count = 0
for i in movies_title["title"]:
    if i=="Treasure Island":
        count +=1
        
print("제목이 Treasure Island 인 영화는 ",count,"개")
print("제작년도 오름차순 정열 \n")
x=movies_title[movies_title["title"]=="Treasure Island"]
print(x.sort_values(by="year"))

제목이 Treasure Island 인 영화는  8 개
제작년도 오름차순 정열

                  title  year
191379  Treasure Island  1918
47769   Treasure Island  1920
192917  Treasure Island  1934
90175   Treasure Island  1950
104714  Treasure Island  1972
103646  Treasure Island  1973
190792  Treasure Island  1985
166675  Treasure Island  1999

8. 1950년에서 1959년 사이에 만들어진 영화는 몇개인가?

In [31]:
count = 0
for i in movies_title["year"]:
    if (1950<=i)and(i<=1959):
            count += 1

print("1950년에서 1959년 사이에 만들어진 영화는",count,"개입니다.")

1950년에서 1959년 사이에 만들어진 영화는 12120 개입니다.

In [25]:
movies_title[(movies_title["year"]>=1950)&(movies_title["year"]<=1959)].shape[0]

12120

### 년도별 영화를 가장 많이 제작된 해 TOP 5
1. 년도별 영화건수 누적
2. 내림차순 영화건수
3. top 5

In [27]:
movies_title["year"].value_counts().head(5)

2015    13978
2014     8209
2013     7664
2012     7273
2011     6844
Name: year, dtype: int64

In [29]:
#선생님 방법(group by)
movies_title.groupby("year")

In [30]:
list(movies_title.groupby("year"))

[(1894,
               title  year
  165182  Miss Jerry  1894),
 (1897,
                                                     title  year
  85708  Reproduction of the Corbett and Fitzsimmons Fight  1897),
 (1899,
                                                   title  year
  115903  Reproduction of the Corbett and Jeffries Fight  1899
  198354     Sharkey-McCoy Fight Reproduced in 10 Rounds  1899),
 (1900,
                                                      title  year
  12582                                Family Troubles (II)  1900
  19157   Pierrot's Problem, or How to Make a Fat Wife O...  1900
  88362                            Trouble in Hogan's Alley  1900
  170496                              Soldiers of the Cross  1900),
 (1903,
                title  year
  194264  The Divorce  1903),
 (1905,
                     title  year
  30391            Valsons  1905
  63463  La malia dell'oro  1905),
 (1906,
                                           title  year
  26221       The Joe Gans-Battling Nelson Fight  1906
  134974                           Lika mot lika  1906
  147595  Impersonation of Nelson-McGovern Fight  1906
  154456             The Story of the Kelly Gang  1906
  179701              Highlights from The Mikado  1906),
 (1907,
                         title  year
  59188               Violante  1907
  73121                  Faust  1907
  118844  El ciego de la aldea  1907
  201324    Robbery Under Arms  1907),
 (1908,
                                   title  year
  36026                Gans-Nelson Fight  1908
  47901                      Don Quijote  1908
  86582                      Os Guaranis  1908
  103247  The Fairylogue and Radio-Plays  1908
  160794       El pastorcito de Torrente  1908
  214058                          Amleto  1908),
 (1909,
                                                      title  year
  1268                                    O Nono Mandamento  1909
  10603                                        La Chicanera  1909
  44192                                          Salome Mad  1909
  59157                    Um Cavalheiro Deveras Obsequioso  1909
  67768                                   The Life of Moses  1909
  71380                            The Scottish Covenanters  1909
  72447                                       Andreas Hofer  1909
  73508                                 Uma Licao de Maxixe  1909
  82871                                      Excelsior (II)  1909
  86663                                    Pega na Chaleira  1909
  123773  World's Heavyweight Championship Between Tommy...  1909
  133858                                     Locura de amor  1909
  137398                                      Yamato zakura  1909
  181445                                Heroes of the Cross  1909),
 (1910,
                                    title  year
  7523                         Paz e Amor  1910
  11585              Lucrezia Borgia (II)  1910
  13015                         Jane Eyre  1910
  22786                   The Eternal Law  1910
  43511                            Hamlet  1910
  61911           La petite Blanche-Neige  1910
  65488                 Eroico pastorello  1910
  70224                            Amleto  1910
  74639                           Re Lear  1910
  80786   606 contra o Espirocheta Palido  1910
  93925                 The Sheriff's Law  1910
  95534                         Ambrosius  1910
  103450                    Ansigttyven I  1910
  123374                       Chantecler  1910
  128825             Nelson-Wolgast Fight  1910
  140299                      Kapergasten  1910
  142430                     Stockman Joe  1910
  152234                    Valdemar Sejr  1910
  155610                 En rekrut fra 64  1910
  162071                    Pyotr Velikiy  1910
  165894  Maiskaya noch, ili utoplennitsa  1910
  205072                  Chiribiribi (I)  1910
  211486              Greven af Luxemburg  1910
  212797            Den hvide slavehandel  1910),
 (1911,
                               title  year
  1420              Den store flyver  1911
  2610                     Pinocchio  1911
  5189    The Squatter and the Clown  1911
  29899            What Women Suffer  1911
  37805    Attack on the Gold Escort  1911
  ...                            ...   ...
  193664        The Miner's Daughter  1911
  195015                      Hamlet  1911
  203531        Gerusalemme liberata  1911
  205376     The Drover's Sweetheart  1911
  210622                Par habitude  1911

  [61 rows x 2 columns]),
 (1912,
                                   title  year
  218            The Legacy of Happiness  1912
  946     The Mystery of the Black Pearl  1912
  1495                        Tsukishiro  1912
  2797              Father's Forty Winks  1912
  2987                      The Octoroon  1912
  ...                                ...   ...
  201491             Den flyvende cirkus  1912
  208311                 Lucrezia Borgia  1912
  210092               For a Baby's Sake  1912
  210836                 Wooden Athletes  1912
  213663                Mil e 400 contos  1912

  [104 rows x 2 columns]),
 (1913,
                                title  year
  464     Vennerne fra Officersskolen  1913
  1555              L'enfant de Paris  1913
  2275         Chatollets hemmelighed  1913
  2657            Saty delaji cloveka  1913
  3881                        Macbeth  1913
  ...                             ...   ...
  214615                    L'hallali  1913
  214644            Manden med Kappen  1913
  214785           Il bacio di Cirano  1913
  214874            Noktyurn Chopyena  1913
  215488                        Sylvi  1913

  [242 rows x 2 columns]),
 (1914,
                                  title  year
  859        Tillie's Punctured Romance  1914
  1591                    Hook and Hand  1914
  1886     The Adventures of Andy Clark  1914
  2821                     Hammerslaget  1914
  2965             The Human Bloodhound  1914
  ...                               ...   ...
  213579  The Fates and Flora Fourflush  1914
  214042                   The Crucible  1914
  214212                        Justice  1914
  214882                  Scuola d'eroi  1914
  215492          Den moderne Messalina  1914

  [547 rows x 2 columns]),
 (1915,
                        title  year
  329          The Dop Doctor  1915
  1569              The Price  1915
  1788            David Harum  1915
  2095              The Brink  1915
  2264     Bound on the Wheel  1915
  ...                     ...   ...
  215391    The Old Homestead  1915
  215641   Une page de gloire  1915
  215707           Blackbirds  1915
  215743  Father and the Boys  1915
  215787           Anselo Lee  1915

  [869 rows x 2 columns]),
 (1916,
                                 title  year
  26      Suzanne, professeur de flirt  1916
  111               The Stepping Stone  1916
  479           The Reward of Patience  1916
  517             The House of Mirrors  1916
  585                         New York  1916
  ...                              ...   ...
  215293         Le printemps du coeur  1916
  215468                     The Enemy  1916
  215511                   The Phantom  1916
  215538              The Kiss of Hate  1916
  215656                        Driven  1916

  [1152 rows x 2 columns]),
 (1917,
                            title  year
  20                       Patria  1917
  763          The Flower of Doom  1917
  942                  For Valour  1917
  1014                   Arabella  1917
  1537         The Silent Partner  1917
  ...                         ...   ...
  215323     Aladdin's Other Lamp  1917
  215429        The Gay Lord Quex  1917
  215704  The Law of Compensation  1917
  215785      Der Fluch der Sonne  1917
  215941           Bridges Burned  1917

  [1181 rows x 2 columns]),
 (1918,
                         title  year
  40        The Fair Pretender  1918
  209          La muerte civil  1918
  525               Green Eyes  1918
  642        Fuss and Feathers  1918
  699           Three X Gordon  1918
  ...                      ...   ...
  214540  La morte che assolve  1918
  214581            Knocknagow  1918
  214997   The Birth of a Race  1918
  215467     A Camouflage Kiss  1918
  215499         Headin' South  1918

  [1074 rows x 2 columns]),
 (1919,
                         title  year
  178               Calibre 38  1919
  267         Capitan Fracassa  1919
  341            Women Who Win  1919
  410       Der Herr der Liebe  1919
  420       The Master Mystery  1919
  ...                      ...   ...
  215434     One of the Finest  1919
  215455  The Quickening Flame  1919
  215587  Getting Mary Married  1919
  215894       The Better Wife  1919
  215897       As a Man Thinks  1919

  [1113 rows x 2 columns]),
 (1920,
                         title  year
  132        Hearts Are Trumps  1920
  379         Le droit de tuer  1920
  572     Let's Be Fashionable  1920
  880          La Sacra Bibbia  1920
  964           The Fatal Hour  1920
  ...                      ...   ...
  215188      My Lady's Garter  1920
  215277    Il re delle banane  1920
  215382      Vanishing Trails  1920
  215555         The Harp King  1920
  215683      Within Our Gates  1920

  [1094 rows x 2 columns]),
 (1921,
                            title  year
  756              Love's Penalty  1921
  1047    The Ghost in the Garret  1921
  1166      The God in the Garden  1921
  1260        Arthur fait du film  1921
  1477                 La parcela  1921
  ...                         ...   ...
  214319                   Tokuri  1921
  214611         The Mad Marriage  1921
  215076                Why Tell?  1921
  215611         Paying the Piper  1921
  215839      The Bachelor's Club  1921

  [956 rows x 2 columns]),
 (1922,
                          title  year
  75              Luffar-Petter  1922
  257                The Motive  1922
  471              Gleam O'Dawn  1922
  584     Once Upon a Time (II)  1922
  1055         William Ratcliff  1922
  ...                       ...   ...
  215427   With Wings Outspread  1922
  215444        Die Liebeslaube  1922
  215693   Across the Continent  1922
  215808      The Glorious Fool  1922
  215976         Le mouton noir  1922

  [883 rows x 2 columns]),
 (1923,
                              title  year
  233                Pioneer Trails  1923
  241                 Crossed Wires  1923
  457             Wife in Name Only  1923
  876               The Love Letter  1923
  879                The Snow Bride  1923
  ...                           ...   ...
  214425          What Love Will Do  1923
  214485  Broken Hearts of Broadway  1923
  214897            Thru the Flames  1923
  215481          Stephen Steps Out  1923
  215577              Western Blood  1923

  [717 rows x 2 columns]),
 (1924,
                            title  year
  173     Let Not Man Put Asunder  1924
  607       The Flying Fifty-Five  1924
  1087                   Icebound  1924
  1640           Branded a Bandit  1924
  1781     The Millionaire Cowboy  1924
  ...                         ...   ...
  214700                  Courage  1924
  214841            The White Sin  1924
  214851     The Measure of a Man  1924
  215018           Dark Stairways  1924
  215351      The Fighting Coward  1924

  [802 rows x 2 columns]),
 (1925,
                           title  year
  293              Speed Madness  1925
  579            Under the Rouge  1925
  792     The Making of O'Malley  1925
  897                Volk in Not  1925
  931                Buried Gold  1925
  ...                        ...   ...
  215545             Super Speed  1925
  215556            Flying Hoofs  1925
  215563          Saddle Cyclone  1925
  215679  Tis moiras t' apopaidi  1925
  215737       New Lives for Old  1925

  [872 rows x 2 columns]),
 (1926,
                          title  year
  91          The Ridin' Rascal  1926
  354          The Gay Deceiver  1926
  823            Silver Fingers  1926
  861     Stop, Look and Listen  1926
  1021       Alaskan Adventures  1926
  ...                       ...   ...
  214097     Den nye lensmannen  1926
  214335  Prowlers of the Night  1926
  214423         His Jazz Bride  1926
  215489                 Natela  1926
  215893       Footloose Widows  1926

  [861 rows x 2 columns]),
 (1927,
                           title  year
  567            The Red Raiders  1927
  627         The Price of Honor  1927
  851       One Woman to Another  1927
  1413            The Auctioneer  1927
  1843    Where North Holds Sway  1927
  ...                        ...   ...
  215305           A Million Bid  1927
  215330                Red Clay  1927
  215527              White Heat  1927
  215539       Blondes by Choice  1927
  215792        Alias the Deacon  1927

  [868 rows x 2 columns]),
 (1928,
                             title  year
  109            Domestic Troubles  1928
  255                 Prep and Pep  1928
  597              The Last Moment  1928
  717        The Magnificent Flirt  1928
  950         The Fifty-Fifty Girl  1928
  ...                          ...   ...
  215430              Przedwiosnie  1928
  215505    The Man Without a Face  1928
  215606  Ladies of the Night Club  1928
  215649        Le diable au coeur  1928
  215855           The Night Flyer  1928

  [881 rows x 2 columns]),
 (1929,
                        title  year
  56               Woman Trap  1929
  947      La boda de Rosario  1929
  1672           Taxi for Two  1929
  2376       Come and Get It!  1929
  2573          The Virginian  1929
  ...                     ...   ...
  215226  Der Ruf des Nordens  1929
  215442         Barro Humano  1929
  215480          Queen Kelly  1929
  215528       A Texas Cowboy  1929
  215741          Rodnoy brat  1929

  [741 rows x 2 columns]),
 (1930,
                           title  year
  155                The Gorilla  1930
  164          Construire un feu  1930
  972          Safety in Numbers  1930
  1323                    Ingagi  1930
  1368            The Last Dance  1930
  ...                        ...   ...
  215185           Scarlet Pages  1930
  215530      Behind the Make-Up  1930
  215533  The Compulsory Husband  1930
  215790          Charley's Aunt  1930
  215873                  Comets  1930

  [811 rows x 2 columns]),
 (1931,
                               title  year
  110                        Corsair  1931
  272              Ponyataya oshibka  1931
  277               X Marks the Spot  1931
  382                       Cimarron  1931
  449                   The Parisian  1931
  ...                            ...   ...
  214560    Diez canciones de Gardel  1931
  215173                    Reducing  1931
  215580           Nie wieder Liebe!  1931
  215594  Das gelbe Haus des King-Fu  1931
  215924                 Yi jian mei  1931

  [872 rows x 2 columns]),
 (1932,
                            title  year
  66         Das Blaue vom Himmel  1932
  103         World and the Flesh  1932
  191             Law and Lawless  1932
  546       The Secrets of Wu Sin  1932
  1017    It's Tough to Be Famous  1932
  ...                         ...   ...
  214566         Mark of the Spur  1932
  215597            Without Honor  1932
  215832         The Crooked Lady  1932
  215900          Fast Companions  1932
  215963  Die Herrgottsgrenadiere  1932

  [931 rows x 2 columns]),
 (1933,
                               title  year
  370              One Man's Journey  1933
  1434                The Last Trail  1933
  1596                    Born Lucky  1933
  1754    Le testament du Dr. Mabuse  1933
  2101        It's Great to Be Alive  1933
  ...                            ...   ...
  215703          Song of the Plough  1933
  215806                    Jeunesse  1933
  215827           Ostatnia eskapada  1933
  215904             Sagebrush Trail  1933
  215942        Shadows of Sing Sing  1933

  [880 rows x 2 columns]),
 (1934,
                         title  year
  82                  Evensong  1934
  96        The World Moves On  1934
  355     Return of the Terror  1934
  396             The Thin Man  1934
  835       Honor of the Range  1934
  ...                      ...   ...
  214306             Pechmarie  1934
  214368       Pecados de amor  1934
  214763    Monte Carlo Nights  1934
  214913     Lily of Killarney  1934
  215150           I'll Fix It  1934

  [952 rows x 2 columns]),
 (1935,
                           title  year
  112             Grand Old Girl  1935
  538               Kalif Storch  1935
  629               Social Error  1935
  1046    If You Could Only Cook  1935
  1048                     Wacus  1935
  ...                        ...   ...
  213953      Unconquered Bandit  1935
  214684     Code of the Mounted  1935
  214956    Non ti scordar di me  1935
  215122        Women Must Dress  1935
  215498           Society Fever  1935

  [1038 rows x 2 columns]),
 (1936,
                         title  year
  242       Love and Sacrifice  1936
  395     Pride of the Marines  1936
  532     Rainbow on the River  1936
  895           Variety Parade  1936
  911          California Mail  1936
  ...                      ...   ...
  214996        The Old Corral  1936
  215045      Let's Sing Again  1936
  215289       The Man I Marry  1936
  215378          Snowed Under  1936
  215940     Cuor di vagabondo  1936

  [1131 rows x 2 columns]),
 (1937,
                            title  year
  250           Guonei Wu Zhanshi  1937
  296         La Mancha de Sangre  1937
  688      Merry Go Round of 1938  1937
  707                        Slim  1937
  1030            The Holy Terror  1937
  ...                         ...   ...
  215534            Born Reckless  1937
  215537                 Qi Zimei  1937
  215694               Wakai hito  1937
  215786  Git Along Little Dogies  1937
  215898    La muchacha del circo  1937

  [1186 rows x 2 columns]),
 (1938,
                             title  year
  246                Gang Smashers  1938
  662     Sutyi, a szerencsegyerek  1938
  694               L'ultima carta  1938
  869      The First Hundred Years  1938
  1004        The Overland Express  1938
  ...                          ...   ...
  214214          The Last Express  1938
  214912                 Capriccio  1938
  215449              Pietro Micca  1938
  215486              Elinan surma  1938
  215589    Rose of the Rio Grande  1938

  [1117 rows x 2 columns]),
 (1939,
                                         title  year
  514                             Master Keung  1939
  727     Schneewittchen und die sieben Zwerge  1939
  753                                Opernball  1939
  860                       Blackwell's Island  1939
  1202                          Smuggled Cargo  1939
  ...                                      ...   ...
  214535                            Yuanhun Ta  1939
  214905                      Xu Nu Sheqinggui  1939
  214970                 Eravamo sette sorelle  1939
  214977                      Frontier Marshal  1939
  215310                               Zenobia  1939

  [1052 rows x 2 columns]),
 (1940,
                                 title  year
  602                 The Green Hornet  1940
  679                      Bingdi Lian  1940
  878            Pack Up Your Troubles  1940
  1110             West of Pinto Basin  1940
  1277               Confidential Lady  1940
  ...                              ...   ...
  214525  Golowin geht durch die Stadt  1940
  214881        Im Schatten des Berges  1940
  215668                       The Ape  1940
  215812               Pop Always Pays  1940
  215825           The Grapes of Wrath  1940

  [982 rows x 2 columns]),
 (1941,
                                      title  year
  345                 Steel Against the Sky  1941
  554                          Once a Crook  1941
  1119                       Double Trouble  1941

In [31]:
list(movies_title.groupby("year"))[1]

(1897,
                                                    title  year
 85708  Reproduction of the Corbett and Fitzsimmons Fight  1897)

In [32]:
movies_title.groupby("year").count() #데이터프레임

      title
year
1894      1
1897      1
1899      2
1900      4
1903      1
...     ...
2019     46
2020     36
2021      8
2022      3
2024      2

[124 rows x 1 columns]

In [33]:
movies_title.groupby("year").count().sort_values(by="title")

      title
year
1894      1
1897      1
1903      1
1905      2
2024      2
...     ...
2011   6844
2012   7273
2013   7664
2014   8209
2015  13978

[124 rows x 1 columns]

In [34]:
movies_title.groupby("year").count()["title"].sort_values()

year
1894        1
1897        1
1903        1
1905        2
2024        2
        ...
2011     6844
2012     7273
2013     7664
2014     8209
2015    13978
Name: title, Length: 124, dtype: int64

In [35]:
movies_title.groupby("year").count()["title"].sort_values(ascending=False)

year
2015    13978
2014     8209
2013     7664
2012     7273
2011     6844
        ...
1905        2
1899        2
1897        1
1903        1
1894        1
Name: title, Length: 124, dtype: int64

In [36]:
movies_title.groupby("year").count()["title"].sort_values(ascending=False).head(5) #series로 만들어서 한거임

year
2015    13978
2014     8209
2013     7664
2012     7273
2011     6844
Name: title, dtype: int64

In [39]:
movies_title.groupby("year").count().sort_values("title") #dataframe

      title
year
1894      1
1897      1
1903      1
1905      2
2024      2
...     ...
2011   6844
2012   7273
2013   7664
2014   8209
2015  13978

[124 rows x 1 columns]

In [40]:
movies_title.groupby("year").count().sort_values("title",ascending=False).head(5)

      title
year
2015  13978
2014   8209
2013   7664
2012   7273
2011   6844