In [84]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics, svm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [4]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\hrim1\anaconda3\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [53]:
test=pd.read_excel('지역_위치별(주유소).xls')
df=test.copy()
df=df.dropna()
df

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
1,서울특별시,SK서광주유소,서울 강남구 역삼로 142 (역삼동),SK에너지,25624855,Y,1765.0,1565,1365,990.0
4,서울특별시,현대오일뱅크(주)유진주유소,서울 강남구 논현로 152 (도곡동),현대오일뱅크,234625215,N,1805.0,1586,1384,1060.0
11,서울특별시,세진에너지 개포주유소,서울 강남구 양재대로 339 (개포동),GS칼텍스,25739031,N,1880.0,1598,1398,1152.0
13,서울특별시,주식회사 논현에너지,서울 강남구 학동로 229 (논현동),GS칼텍스,234439545,N,1898.0,1609,1412,1150.0
16,서울특별시,역삼주유소,서울특별시 강남구 논현로 426 (역삼동),GS칼텍스,25485145,N,1833.0,1633,1399,850.0
...,...,...,...,...,...,...,...,...,...,...
492,서울특별시,(주)만정에너지,서울 강남구 봉은사로 433 (삼성동),GS칼텍스,25185141,N,2285.0,1999,1885,1207.0
497,서울특별시,갤러리아주유소,서울 강남구 압구정로 426 (청담동),SK에너지,25404965,N,2268.0,2059,1869,1206.0
499,서울특별시,삼성주유소,서울 강남구 삼성로 521 (삼성동),SK에너지,25380809,N,2305.0,2106,1909,1189.0
500,서울특별시,오천주유소,서울 강남구 봉은사로 503 (삼성동),SK에너지,25452822,N,2293.0,2107,1909,1232.0
501,서울특별시,뉴서울(강남),서울 강남구 언주로 716 (논현동),SK에너지,25185631,N,2420.0,2120,1920,1330.0

In [47]:
label=df['고급휘발유']
tmp=df['휘발유']
tmp2=df['경유']
data=pd.concat([tmp,tmp2],axis=1)

In [87]:
clf=LinearRegression()
clf.fit(data,label)

LinearRegression()

In [89]:
x=test[test['고급휘발유'].isnull()]
a=x['휘발유']
b=x['경유']
ab=pd.concat([a,b],axis=1)

print(clf.predict(ab))

x['고급휘발유']=clf.predict(ab)
x

[1787.67500388 1806.73870849 1828.42608765 1829.60549334 1842.95330679
 1909.88317201 1959.96564943 1900.15730151 1927.79967319 1929.94836525
 1928.51053683 1928.51053683 1930.41690729 1931.37009252 1931.37009252
 1939.49631868 1950.91844031 1957.59073692 2022.87587463 1922.7978659
 1938.51093118 1948.04922394 1950.43379713 1950.43379713 1962.35666308
 1964.74767672 1981.42036768 1981.42036768 2064.1019409  1876.56677212
 1884.19547419 1898.94569356 1910.40001746 1911.35320269 1912.30638792
 1913.25957315 1915.65058679 1920.88505499 1969.49750174 1894.68051172
 1900.87138538 1903.02007743 1901.82135038 1902.77453561 1912.7910311
 1923.27606863 1923.27606863 1923.27606863 1937.10530504 1951.87162554
 1959.0124642  1959.96564943 1952.79260851 1976.16979835 1988.56120634
 2020.0227594  2055.28417247 2079.03329755 2396.52448492 1891.82095603
 1890.38312762 1892.77414126 1892.77414126 1909.93147541 1911.83784587
 1911.83784587 1914.69740156 1928.98873956 1983.32673814 1990.95221999
 2045.09620038 1842.95330679 1909.88317201 1959.96564943 1842.95330679
 1909.88317201 1959.96564943 1842.95330679 1909.88317201 1959.96564943
 1842.95330679 1909.88317201 1959.96564943 1842.95330679 1909.88317201
 1959.96564943 1842.95330679 1909.88317201 1959.96564943 1842.95330679
 1909.88317201 1959.96564943 1842.95330679 1909.88317201 1959.96564943
 1842.95330679 1909.88317201 1959.96564943]

C:\Users\hrim1\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,(주)보성 세곡주유소,서울특별시 강남구 헌릉로 731 (세곡동),SK에너지,24456870,Y,1787.675004,1548,1345,NaN
3,서울특별시,(주)정원이디에쓰 산성주유소,서울 강남구 헌릉로 730 (세곡동),GS칼텍스,222264963,Y,1806.738708,1568,1365,NaN
5,서울특별시,(주)한진 도곡주유소,서울특별시 강남구 도곡로 162 (도곡동),SOIL,220583024,N,1828.426088,1590,1390,NaN
6,서울특별시,방죽주유소,서울특별시 강남구 밤고개로 215 (율현동),SOIL,24593434,Y,1829.605493,1595,1380,NaN
12,서울특별시,자곡셀프주유소,서울특별시 강남구 밤고개로 120 (자곡동),SK에너지,24455841,Y,1842.953307,1608,1397,NaN
...,...,...,...,...,...,...,...,...,...,...
436,서울특별시,일원주유소,서울 강남구 양재대로55길 3 (일원동),SOIL,222265188,Y,1909.883172,1688,1438,NaN
438,서울특별시,동일석유(주)직영남부주유소,서울 강남구 선릉로 34 (개포동),SK에너지,25767447,N,1959.965649,1728,1528,NaN
468,서울특별시,자곡셀프주유소,서울특별시 강남구 밤고개로 120 (자곡동),SK에너지,24455841,Y,1842.953307,1608,1397,NaN
475,서울특별시,일원주유소,서울 강남구 양재대로55길 3 (일원동),SOIL,222265188,Y,1909.883172,1688,1438,NaN
477,서울특별시,동일석유(주)직영남부주유소,서울 강남구 선릉로 34 (개포동),SK에너지,25767447,N,1959.965649,1728,1528,NaN